
@{
    ViewBag.Title = "Richiesta Completata";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="request-complete text-center fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/icn-complete.png" alt="Operazione completata" />
                        <h3>Operazione completata!</h3>
                        <p>
                            La tua richiesta è stata inoltrata a PagoPA.<br />
                            Accedi allo storico operazioni per controllare lo stato di avanzamento.
                        </p>
                    </div>
                </div>
                <div class="row" style="width:50%;">
                    <div class="col-md-12 col-sm-12"><a href="/Action/StoricoOperazioni"><i class="las la-folder-open"></i> Vai allo storico operazioni </a></div>
               </div>
            </div>
        </div>
    </div>
</div>
