@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
.uppercase {
  text-transform: uppercase;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffAzHKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffGjEKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffBzCKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffHjDKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffEDBKIw.ttf) format('truetype');
}
/* Variables
-----------------------------------------------------------------------*/
/* Mediaquery
-----------------------------------------------------------------------------*/
/* Reset
--------------------------------------------------------*/
body,
html {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  cursor: default;
  color: #595858;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  background: #f3f7fa;
  overflow-x:hidden;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: auto;
}
border {
  border: 0px none;
}
select {
  outline: none;
  border-radius: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style-type: none;
}
input [type=checkbox] {
  outline: none;
  border-radius: 0;
}
input {
  outline: none;
  border-radius: 0;
}
textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a,
a:link,
a:visited {
  color: #2da6db;
  text-decoration: none;
  transition: all .3s;
}
a:hover {
  color: #595858;
  text-decoration: none;
  cursor: pointer!important;
}
.link-orange {
  color: #ffc632 !important;
}
.link-orange:hover {
  color: #595858 !important;
}
.link-green {
  color: #7fc682 !important;
}
.link-green:hover {
  color: #595858 !important;
}
/* ! Title System
-----------------------------------------------------*/
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
/* ! Helpers
---------------------------------------------------------*/
/* Images */
.img-res {
  width: 100%;
  height: auto;
}
/* Typography */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.textsize-0 {
  font-size: 5rem;
  margin-bottom: 0.3rem;
}
.textsize-1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}
.textsize-2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.textsize-3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.textsize-4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.textsize-5 {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.textsmall-0 {
  font-size: 0.9rem;
  line-height: 1.1rem;
}
.textsmall-1 {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.textsmall-2 {
  font-size: 0.7rem;
  line-height: 1rem;
}
.textsmall-3 {
  font-size: 0.6rem;
  line-height: 0.8rem;
}
.textsmall-3 {
  font-size: 0.5rem;
  line-height: 0.7rem;
}
/* Display */
.hide {
  display: none;
}
.show {
  display: block;
}
.align-y-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visible-desktop {
  display: block;
}
@media (max-width: 1024px) {
  .visible-desktop {
    display: none;
  }
}
.visible-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .visible-mobile {
    display: block;
  }
}
/* Animation*/
.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3;
  transition: all 0.3s;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}
/* Display */
.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.shadow {
  box-shadow: 2px 5px 10px #676465;
}
/* Border Radius */
.radius-5 {
  border-radius: 5px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-15 {
  border-radius: 15px;
}
.radius-20 {
  border-radius: 20px;
}
.radius-25 {
  border-radius: 25px;
}
.radius-30 {
  border-radius: 30px;
}
.radius-40 {
  border-radius: 40px;
}
.radius-50 {
  border-radius: 50px;
}
/* Various Elements */

.not-active{
    color:#999 !important;
    cursor:default!important;
}

.active-btn{
    color:#2da6db!important;
    cursor:pointer!important;
}

.text-gradient {
    background: #FFF;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(129deg, #dc79ff, #256bfa);
}
.z-index-top {
  z-index: 9999;
  position: relative;
}
.video-res {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-res video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spacer {
  height: 20vh;
}
.border {
  border: 1px solid red;
}
/* Padding */
.p-0 {
  padding: 0px !important;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-80 {
  padding-left: 80px;
}
.pl-100 {
  padding-left: 100px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-60 {
  padding-right: 60px;
}
.pr-80 {
  padding-right: 80px;
}
.pr-100 {
  padding-right: 100px;
}
.py-10 {
  padding: 10px 0;
}
.py-20 {
  padding: 20px 0;
}
.py-30 {
  padding: 30px 0;
}
.py-40 {
  padding: 40px 0;
}
.py-60 {
  padding: 60px 0;
}
.py-80 {
  padding: 80px 0;
}
.py-100 {
  padding: 100px 0;
}
.px-10 {
  padding: 0 10px;
}
.px-20 {
  padding: 0 20px;
}
.px-30 {
  padding: 0 30px;
}
.px-40 {
  padding: 0 40px;
}
.px-60 {
  padding: 0 60px;
}
.px-80 {
  padding: 0 80px;
}
.px-100 {
  padding: 0 100px;
}
/* Margin */
.m-0 {
  margin: 0px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-100 {
  margin-left: 100px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-100 {
  margin-right: 100px;
}
.my-10 {
  margin: 10px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-40 {
  margin: 40px 0;
}
.my-60 {
  margin: 60px 0;
}
.my-80 {
  margin: 80px 0;
}
.my-100 {
  margin: 100px 0;
}
.mx-10 {
  margin: 0 10px;
}
.mx-20 {
  margin: 0 20px;
}
.mx-30 {
  margin: 0 30px;
}
.mx-40 {
  margin: 0 40px;
}
.mx-60 {
  margin: 0 60px;
}
.mx-80 {
  margin: 0 80px;
}
.mx-100 {
  margin: 0 100px;
}
/* Generic Site
--------------------------------------------------------------------*/
.lbl {
  font-weight: 600;
  padding-left: 5px;
  font-size: 0.95rem;
  color: #808080;
}
.form-input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  color: #808080;
  font-size: 1rem;
}
.btn {
  padding: 15px 30px;
  border: 0px none;
  border-radius: 5px;
  background: linear-gradient(to top, #2da6db, #47c1ec);
  color: #ffffff !important;
  font-weight: 600;
}
.btn:hover {
  background: linear-gradient(to top, #47c1ec, #2da6db);
  cursor: pointer;
}
.btn-small {
  padding: 10px 20px;
}
.btn__blue {
  background: #1f88b6;
  padding: 10px 20px;
}
.btn__blue:hover {
  background: #1b78a0;
}
.not-supported {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.not-supported i {
  font-size: 8rem;
  color: #ea5555;
}
.not-supported h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
}
.not-supported p {
  font-size: 1.1rem;
}
.not-supported img {
  position: fixed;
  bottom: 15px;
  max-width: 150px;
}
/* Master Style
--------------------------------------------------------------------*/
.blue {
  color: #2DA6DB;
}
.main {
  min-height: 82vh;
  margin-top: 30px;
}
.main h4 {
  color: #2da6db;
  font-size: 1rem;
  padding: 0px;
  margin: 0;
}
.main h1 {
  font-size: 2.1rem;
  padding: 0 0 15px 0;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .main h1 {
    font-size: 1.9rem;
  }
}
.icn-top-main {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
.card {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.header {
  margin-top: 20px;
}
.header__logo img {
  width: 100%;
  max-width: 70px;
}
.header_nav_user {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}
.header_nav_user a {
  font-size: 1.1rem;
  color: #595858;
  font-weight: 600;
  margin-right: 10px;
  transition: all .3s;
}
.header_nav_user a:hover {
  color: #2da6db;
  cursor: pointer !important;
}
.header_nav_user ul {
  position: absolute;
  z-index: 1000;
  top: 50px;
  right: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  display: none;
}
.header_nav_user ul a:link,
.header_nav_user ul a:visited {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}
.header_nav_user ul a:hover {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  cursor: pointer !important;
}
.header_nav_user ul li {
  border-bottom: 1px solid #DDD;
  padding: 10px 20px;
}
.header_nav_user ul li:last-child {
  border-bottom: 0px none;
  padding: 10px 20px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}
    .user-avatar i {
        font-size: 36px;
        color: #2DA6DB!important;
    }


.nav {
  margin: 60px 0 0 15px;
  font-size: 1rem;
}
@media (max-width: 1440px) {
  .nav {
    margin: 30px 0 0 10px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1280px) {
  .nav {
    margin: 30px 0 0 10px;
    font-size: 0.8rem;
  }
}
.nav i {
  font-size: 24px;
  vertical-align: middle;
  color: #2da6db;
}
@media (max-width: 1280px) {
  .nav i {
    font-size: 19px;
  }
}
.nav li {
  margin-bottom: 15px;
}
.nav span {
  color: #595858;
  transition: all .3s;
}
.nav span:hover {
  color: #2da6db;
  cursor: pointer !important;
}
.nav span i {
  color: #595858;
}
.nav a:link,
.nav a:visited {
  color: #595858;
}
.nav a:link:hover,
.nav a:visited:hover {
  color: #2da6db;
  cursor: pointer !important;
}
.nav a:link i,
.nav a:visited i {
  color: #595858;
}
.nav--sub {
  border-left: 2px solid #595858;
  margin: 15px 0 15px 10px;
  padding: 0 0 0 15px;
  display: none;
}
.nav-personal-area {
  padding: 30px;
}
.nav-personal-area li {
  width: 100%;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
  font-weight: 600;
}
.nav-personal-area li:last-child {
  border-bottom: 0px none;
}
.nav-personal-area li i {
  float: right;
  font-size: 1.1rem;
  margin-top: 4px;
}
footer {
  background: #333;
  color: #ffffff;
  padding: 10px 0;
  margin: 15px 0 0 0;
  font-size: 0.9rem;
  text-align: center;
}
footer a:link,
footer a:visited {
  color: #2da6db;
}
footer a:link:hover,
footer a:visited:hover {
  color: #ffffff;
}
.form-site {
  padding: 30px 30px 15px 30px;
}
.form-site label {
  width: 100%;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 5px;
  padding-bottom: 3px;
}

    .label-pay {
        width: auto!important;
        display:inline!important;
        vertical-align:middle;
    }


.form-site input {
  font-size: 1rem;
}

    .form-site input[type=checkbox] {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        accent-color: #2da6db;
        font-family: 'Titillium Web', sans-serif;
    }

    .form-site input[type=file] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }

    .form-site input[type=text] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 10px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=email] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=tel] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=password] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=number] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=number] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .form-site input[type=date] {
        width: 100%;
        height: 45px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 0 5px;
        color: #575656;
        margin-bottom: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
.form-site select {
    width: 100%;
    height: 45px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 10px;
    color: #575656;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

    .form-site select option {
        margin-bottom: 5px;
        padding: 5px;
        background: #F1F1F1;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        cursor: pointer;
    }

        .form-site select option:checked {
            background: #47c1ec;
            color:#FFF;
        }

    .form-site input[type=submit] {
        width: 100%;
        height: 45px;
        border: 0px none;
        border-radius: 5px;
        padding: 0 5px;
        color: #ffffff;
        background: linear-gradient(to top, #2da6db, #47c1ec);
        margin: 30px 0 15px 0;
        font-size: 0.9rem;
    }

.form-site input[type=submit]:hover {
  cursor: pointer;
  background: #2da6db;
}
.form-site input[type=file] {
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .form-site input[type=file] {
    font-size: 0.7rem;
  }
}
.form-site .btn_filter {
    width: 100%;
    height: 45px;
    border: 0px none;
    border-radius: 5px;
    background: #2da6db;
    color:#FFFFFF;
    font-size:0.7rem;
    margin: 22px 0 15px 0 !important;
    cursor:pointer;
}
@media (max-width: 1440px) {
  .form-site .btn_filter {
    font-size: 0.7rem!important;
  }
}
.btn-download-list {
  background: linear-gradient(to top, #5cb660, #7fc682) !important;
  font-size: 0.7rem !important;
}
.border-input {
  border: 1px dashed #DDD;
  padding: 15px;
}
a.back-page i {
  font-size: 1.1rem;
  vertical-align: middle;
}
a.back-page:link,
a.back-page:visited {
  color: #595858;
  font-weight: 600;
}
a.back-page:hover {
  color: #2da6db;
}

/* Login page
--------------------------------------------------------------------*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.login__footer {
  position: absolute;
  bottom: 30px;
  font-weight: 600;
}
.login__body {
  min-height: 100vh;
  background: linear-gradient(0deg, #a6c8ee 0%, #ecf5ff 70%) !important;
}
.login__card {
  width: 100%;
  min-height: 520px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 60px;
}
.login__logo {
  width: 110px;
}
.panel-pwd {
  display: none;
}
/* Dashboard
--------------------------------------------------------------------*/
.card-user {
  width: 100%;
  height: 225px;
  background: #2da6db;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.card-user h4 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 45px;
  color: #ffffff;
}
.card-operation {
  width: 100%;
  height: 225px;
  background: #ffffff;
  background-image: url("/Images/bg-euro.png");
  background-position-x: right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.card-operation h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .card-operation h3 {
    font-size: 1.1rem;
  }
}
.card-operation h3 span {
  font-weight: 600;
  color: #2da6db;
}
.card-operation section {
  display: flex;
  align-items: center;
  padding-bottom: 55px;
}
.card-request {
  width: 100%;
  height: 225px;
  background: #ffffff;
  background-position: bottom;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: all .3s;
}
.card-request:hover {
  background-size: 80%;
  transition: all .3s;
}
.card-request h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .card-request h3 {
    font-size: 1.1rem;
  }
}
.card-request section {
  display: flex;
  align-items: center;
}
.card-request a {
  font-weight: 600;
}
.bg-req-waiting {
  background-image: url("/Images/bg-graph-waiting.png");
}
.bg-req-ok {
  background-image: url("/Images/bg-graph-ok.png");
}
.bg-pay-back {
  background-image: url("/Images/bg-pay-back.png");
}
/* User page
-----------------------------------------------------------------------*/
.header--user {
  background-image: url("/Images/bg-user-page.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}
.header--user h3 {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  font-size: 1.8rem;
}
.user-avatar-page {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.user-avatar-page img {
  width: 100%;
}
/* Generazione IUV
------------------------------------------------*/
.select-iuv {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.select-iuv section {
  padding: 0 15px;
  width:75%;
}
.select-iuv h5 {
  font-size: 1.1rem;
}
.btn-iuv {
  margin-left: 30px;
}
.icon-iuv {
  width: 125px;
}
@media (max-width: 1440px) {
  .icon-iuv {
    width: 190px;
  }
}
.icon-iuv img {
  max-width: 125px;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #DDD;
  margin: 30px 0;
}
.generate-iuv {
  padding: 30px;
}
.generate-iuv h5 {
  font-size: 1.2rem;
  color: #2da6db;
  font-weight: 700;
}
.generate-iuv p {
  font-size: 0.9rem;
}
.request-complete {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.request-complete i {
  font-size: 1.7rem!important;
  color: #676465 !important;
}
.request-complete img {
  max-width: 180px;
}
.request-complete h3 {
  color: #7fc682;
  font-size: 2.1rem;
  margin-bottom: 15px;
}
.request-complete p {
  margin-bottom: 30px;
}
.request-complete a,
.request-complete a:link,
.request-complete a:visited {
  color: #2da6db;
  font-weight: 600;
}
.request-complete a:hover,
.request-complete a:link:hover,
.request-complete a:visited:hover {
  color: #595858;
}
.request-complete i {
  font-size: 0.9rem;
  vertical-align: middle;
}
.csv-list {
  width: 100%;
  height: 45vh;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.csv-list ul {
  width: 100%;
  float: left;
}
.csv-list ul li {
  width: 15%;
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .csv-list ul li {
    font-size: 0.8rem !important;
  }
}
.csv-list ul li:last-child {
  width: 25%;
  float: left;
}
.csv-list ul:nth-child(even) {
  background-color: #F5F5F5;
}
.csv-list strong {
  color: #7fc682;
  font-weight: 600;
}
.csv-list .error-csv {
  background: #ea5555 !important;
  color: #ffffff !important;
}
.csv-list .error-csv strong {
  color: #ffffff !important;
  font-size: 0.8rem !important;
}
.csv-list__header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
}
.csv-list__header li {
  width: 15%;
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .csv-list__header li {
    font-size: 0.8rem !important;
  }
}
.csv-list__header li:last-child {
  width: 25%;
  float: left;
}
/* Archivio Richieste
--------------------------------------------------*/
.pagination {
  margin: 15px 0;
}
    .pagination a, 
    .pagination a:link,
    .pagination a:visited {
        background: #f3f7fa;
        padding: 5px 12px;
        margin-right: 2px;
        color: #595858;
        font-weight: 600;
    }
.pagination a:hover, .pagination a:link:hover {
  background: #2da6db;
  color: #ffffff;
}
.request-archive {
  padding: 30px;
}
.request-archive h5 {
  font-size: 1.2rem;
  color: #2da6db;
  font-weight: 700;
}
.request-archive p {
  font-size: 0.9rem;
}
.archive-list-waiting {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin: 15px 0 0 0;
}
.archive-list-waiting ul {
  width: 100%;
  float: left;
}
.archive-list-waiting li:nth-child(1) {
    width: 5%;
}

.archive-list-waiting li:nth-child(2) {
    width: 20%;
    font-weight:600;
}

.archive-list-waiting li:nth-child(3) {
    width: 15%;
}

.archive-list-waiting li:nth-child(4) {
    width: 12%;
}

.archive-list-waiting li:nth-child(5) {
    width: 13%;
}

.archive-list-waiting li:nth-child(6) {
    width: 10%;
}

.archive-list-waiting li:nth-child(7) {
    text-align:center;
    width: 20%;
}

.archive-list-waiting li:nth-child(8) {
    width: 10%;
    text-align:center;
}


.archive-list-waiting ul li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-list-waiting ul li {
    font-size: 0.8rem !important;
  }
}
.archive-list-waiting ul:nth-child(odd) {
  background-color: #F5F5F5;
}
.archive-list-waiting strong {
  color: #ffc632;
  font-weight: 600;
}
.archive-list-waiting__header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
  padding: 0 15px 0 0;
}
.archive-list-waiting__header li:nth-child(1) {
  width: 5%;
}
.archive-list-waiting__header li:nth-child(2) {
  width: 20%;
}
.archive-list-waiting__header li:nth-child(3) {
  width: 15%;
}
.archive-list-waiting__header li:nth-child(4) {
  width: 12%;
}
.archive-list-waiting__header li:nth-child(5) {
  width: 13%;
}
.archive-list-waiting__header li:nth-child(6) {
  width: 10%;
}
.archive-list-waiting__header li:nth-child(7) {
  width: 20%;
  text-align:center;
}
.archive-list-waiting__header li:nth-child(8) {
  width: 10%;
}
.archive-list-waiting__header li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-list-waiting__header li {
    font-size: 0.8rem !important;
  }
}
.archive-list-accepted {
  width: 100%;
  height: 40vh;
  overflow-y: scroll;
}
.archive-list-accepted i {
  font-size: 1.2rem;
  vertical-align: middle;
}
.archive-list-accepted ul {
  width: 100%;
  float: left;
}

.archive-list-accepted li:nth-child(1) {
    width: 5%;
}

.archive-list-accepted li:nth-child(2) {
    width: 20%;
    font-weight:600;
}

.archive-list-accepted li:nth-child(3) {
    width: 15%;
}

.archive-list-accepted li:nth-child(4) {
    width: 12%;
}

.archive-list-accepted li:nth-child(5) {
    width: 13%;
}

.archive-list-accepted li:nth-child(6) {
    width: 10%;
}

.archive-list-accepted li:nth-child(7) {
    width: 20%;
    text-align: center;
}

.archive-list-accepted li:nth-child(8) {
    width: 10%;
    text-align: center;

}

.archive-list-accepted ul li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-list-accepted ul li {
    font-size: 0.8rem !important;
  }
}
.archive-list-accepted ul:nth-child(odd) {
  background-color: #F5F5F5;
}
.archive-list-accepted strong {
  color: #7fc682;
  font-weight: 600;
}
.archive-list-accepted__header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
  padding: 0 15px 0 0;
}

.archive-list-accepted__header li:nth-child(1) {
    width: 5%;
}

.archive-list-accepted__header li:nth-child(2) {
    width: 20%;
}

.archive-list-accepted__header li:nth-child(3) {
    width: 15%;
}

.archive-list-accepted__header li:nth-child(4) {
    width: 12%;
}

.archive-list-accepted__header li:nth-child(5) {
    width: 13%;
}

.archive-list-accepted__header li:nth-child(6) {
    width: 10%;
}

.archive-list-accepted__header li:nth-child(7) {
    width: 20%;
    text-align: center;
}

.archive-list-accepted__header li:nth-child(8) {
    width: 10%;
}


.archive-list-accepted__header li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-list-accepted__header li {
    font-size: 0.8rem !important;
  }
}
.archive-payments {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin: 15px 0 0 0;
}
.archive-payments i {
  font-size: 1.1rem;
  vertical-align: middle;
}
.archive-payments ul {
  width: 100%;
  float: left;
}
.archive-payments ul li:nth-child(1) {
  width: 16%;
}
.archive-payments ul li:nth-child(2) {
  width: 18%;
}
.archive-payments ul li:nth-child(3) {
  width: 15%;
}
.archive-payments ul li:nth-child(4) {
  width: 10%;
}
.archive-payments ul li:nth-child(5) {
  width: 15%;
}
.archive-payments ul li:nth-child(6) {
  width: 15%;
}
.archive-payments ul li:nth-child(7) {
  width: 5%;
}



.archive-payments ul li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-payments ul li {
    font-size: 0.8rem !important;
  }
}
.archive-payments ul:nth-child(odd) {
  background-color: #F5F5F5;
}
.archive-payments span {
  color: #999;
}
.archive-payments strong {
  color: #7fc682;
  font-weight: 600;
}
.archive-payments__header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
  padding: 0 15px 0 0;
}

.archive-payments__header li:nth-child(1) {
    width: 16%;
}

.archive-payments__header li:nth-child(2) {
    width: 18%;
}

.archive-payments__header li:nth-child(3) {
    width: 15%;
}

.archive-payments__header li:nth-child(4) {
    width: 10%;
}

.archive-payments__header li:nth-child(5) {
    width: 15%;
}

.archive-payments__header li:nth-child(6) {
    width: 15%;
}

.archive-payments__header li:nth-child(7) {
    width: 5%;
}


.archive-payments__header li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .archive-payments__header li {
    font-size: 0.8rem !important;
  }
}
.operations-history {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin: 15px 0 0 0;
}
.operations-history i {
  font-size: 1.1rem;
  vertical-align: middle;
  color:#CCC;
}
.operations-history a i,
.operations-history a:link i,
.operations-history a:visited i{
  color:#2da6db!important;
}
.operations-history ul {
  width: 100%;
  float: left;
}
.operations-history ul li:nth-child(1) {
  width: 15%;
}
.operations-history ul li:nth-child(2) {
  width: 10%;
}
.operations-history ul li:nth-child(3) {
  width: 10%;
}
.operations-history ul li:nth-child(4) {
  width: 15%;
}
.operations-history ul li:nth-child(5) {
  width: 30%;
}
.operations-history ul li:nth-child(6) {
  width: 10%;
}
.operations-history ul li:nth-child(7) {
  width: 10%;
}
.operations-history ul li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .operations-history ul li {
    font-size: 0.8rem !important;
  }
}
.operations-history ul:nth-child(even) {
  background-color: #F5F5F5;
}
.operations-history span {
  color: #999;
}
.operations-history strong {
  color: #7fc682;
  font-weight: 600;
}
.operations-history__header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
  padding: 0 15px 0 0;
  font-size: 0.8rem;
}
.operations-history__header li:nth-child(1) {
  width: 15%;
}
.operations-history__header li:nth-child(2) {
  width: 10%;
}
.operations-history__header li:nth-child(3) {
  width: 10%;
}
.operations-history__header li:nth-child(4) {
  width: 15%;
}
.operations-history__header li:nth-child(5) {
  width: 30%;
}
.operations-history__header li:nth-child(6) {
  width: 10%;
}
.operations-history__header li:nth-child(7) {
  width: 10%;
}
.operations-history__header li {
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .operations-history__header li {
    font-size: 0.8rem !important;
  }
}
.progress-bar {
  width: 100%;
  height: 18px;
  background: #CCC;
  position: relative;
  float: left;
  font-size: 0.8rem;
  text-align: center;
}
.progress-bar span {
  height: 100%;
  float: left;
  background: #7fc682;
  color: #ffffff;
}
/*DROP ZONE*/
.single-file-upload .dz-message {
  padding: 3vh 0 !important;
}
.single-file-upload .progress {
  float: left;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: #F3F3F3;
  margin: 10px 0;
  border-radius: 0 !important;
}
.single-file-upload .progress .progress-bar {
  float: left;
  width: 0%;
  background: #2da6db;
  margin: -2px 0 0 0;
  height: 22px;
  text-align: right;
  color: #fff;
}
.single-file-upload .dropzone {
  height: 200px !important;
  padding: 0px;
  margin: 0;
  border: 1px dashed #CCCCCC !important;
  text-align: center;
  cursor: pointer;
}
.single-file-upload .dz-message {
  width: 100%;
  float: left;
  padding: 40px 0 !important;
  margin: 0 !important;
}
    .single-file-upload .dz-message span {
        color: #2da6db !important;
        font-weight: 300;
        font-size: 16px !important;
    }
.single-file-upload .fa-file-upload {
    font-size: 70px !important;
    margin: 0 0 20px 0;
    color: #2da6db !important;
}
.FileName {
  padding: 5px !important;
  height: auto !important;
}
.msg-ok {
  color: #7fc682;
  font-weight: 500;
}
.error-msg {
  color: #ea5555;
  font-weight: 300;
}


.dropzone .dz-preview {
    position: absolute !important;
    top: 10px;
    left: 10px;
}

a.delete,
a.delete:link,
a.delete:visited,
a.delete:hover {
    color: #ea5555 !important;
}
.list-users_header {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-weight: 600;
  background-color: #f3f7fa !important;
  border-bottom: 1px solid #DDD;
  padding: 0 15px 0 0;
}
.list-users_header li:nth-child(1) {
  width: 10%;
}
.list-users_header li:nth-child(5) {
  width: 10%;
}
.list-users_header li:nth-child(6) {
  width: 10%;
}
.list-users_header li {
  width: 23%;
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .list-users_header li {
    font-size: 0.8rem !important;
  }
}
.list-users {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin: 15px 0 0 0;
}
.list-users i {
  font-size: 1.1rem;
  vertical-align: middle;
}
.list-users ul {
  width: 100%;
  float: left;
}
.list-users ul li:nth-child(1) {
  width: 10%;
}
.list-users ul li:nth-child(5) {
  width: 10%;
}
.list-users ul li:nth-child(6) {
  width: 10%;
}
.list-users ul li {
  width: 23%;
  float: left;
  padding: 10px;
  font-size: 0.9rem;
}
@media (max-width: 1440px) {
  .list-users ul li {
    font-size: 0.8rem !important;
  }
}
.list-users ul:nth-child(even) {
  background-color: #F5F5F5;
}
.list-users span {
  color: #999;
}
.list-users strong {
  color: #7fc682;
  font-weight: 600;
}
label.error {
  color: #ea5555;
  font-weight: 500;
  float: left;
  margin-right: 5.6rem;
}
div.error {
  color: #ea5555;
  font-weight: 500;
  float: left;
  margin-right: 5.6rem;
}
.preload {
    background: rgba(255, 255,255,0.6);
    position: fixed;
    left: 15px;
    right: 0;
    width: 98% !important;
    height: 68vh;
    z-index: 999;
    display: none;
}

    .preload i {
        font-size: 50px;
        color: #2da6db;
        position:absolute;
        left:50%;
        transform:translate(-50%);
        top:30vh;
    }


.preload-mini {
    background: rgba(255, 255,255,0.8);
    height: 65vh;
}


    .preload-mini i {
        font-size: 26px;
        color: #2da6db;
        top: 16vh;
    }

    .preload-mini p {
        font-size: 14px;
        color: #2da6db;
        top: 19vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }


.logo-ente {
    width: 100%;
    border-bottom: 1px dashed #DDDDDD;
    text-align: center;
    padding: 10px 0;
    margin-bottom:20px;
}