@model List<FrontEndPagoPA.Models.DebtPositionInstallmentViewModel>

@{
    ViewBag.Title = "Rendicontazione Pagamenti";
    var today = DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="row">
    <div class="col-lg-12 fade-in">
        <h4>Archivio richieste</h4>
        <h1>Rendicontazione pagamenti</h1>
    </div>
</div>

<div class="row fade-in">
    <div class="col-md-12">
        <div class="card request-archive">
            <div class="row">
                <div class="col-md-12">
                    <h5>Filtra lista per:</h5>
                </div>
            </div>
            <div class="row form-site p-0">
                <form class="pt-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <input type="text" name="worked" id="worked" value="true" hidden />
                                <input type="text" name="valid" id="valid" value="true" hidden />
                                <div class="col-md-2 col-sm-2">
                                    <label>
                                        Data inizio
                                        <input type="date" name="dataInizio" id="dataInizio" value="@today" />
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label>
                                        Data fine
                                        <input type="date" name="dataFine" id="dataFine" />
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label>Nominativo</label>
                                    <input type="text" name="nominativo" id="nominativo" />
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <label>Pagata</label>
                                    <select name="type" id="pagato">
                                        <option>SI</option>
                                        <option>NO</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <input type="button" id="filtraRichieste" value="CERCA" name="cerca" class="btn_filter" onclick="FiltraRichieste()" />
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <input type="button" id="svuota" value="SVUOTA" name="svuota" class="btn_filter" onclick="EliminaFiltro()" />
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <input type="button" value="SCARICA LISTA IN CSV" name="download_list" class="btn_filter btn-download-list" onclick="GeneraCsv()" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!--archive list header-->
                    <ul class="archive-payments__header">
                        <li>Nominativo</li>
                        <li>Codice fiscale</li>
                        <li>IUV</li>
                        <li>Importo</li>
                        <li class="text-center">Rata</li>
                        <li>Data scadenza</li>
                        <li class="text-center">Pagata</li>
                    </ul>
                    <div class="preload preload-mini"><i class='bx bx-loader bx-spin'></i><br /><p>Attendere caricamento in corso...</p></div>
                    <!--end archive list header-->
                    <div class="archive-payments">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                    <div class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/private/rendicontazionePagamenti.js" asp-append-version="true" ></script>
